
body{
    background-image: url('../IMG/fondo.jpg');
    background-size: 100%;
}
h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px ;
    background-color: rgb(162, 223, 217);
    color: rgb(2, 16, 21);
    text-align: center;

}
h2 {
    background-color: bisque;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    letter-spacing: 5px;
}


section li {
    list-style: none;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 20px;
}
img {
    height: 300px;
    border-radius: 15px;
}
.imagen{
    text-align: center;
}
p {
    margin-left: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 20px;
}
a {
   align-items: right;
    color: white;
    background-color: rgb(8, 217, 228);
    border-radius:  10%;
    padding: 5px;
    color :black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: 600;
    text-decoration: none;
}